.menu {
  border: 1px solid black;
  box-shadow: 0 0 20px black;
}
.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  overflow: hidden;
  padding: 30px 10px 90px 10px;
}

.projects {
  background-color: #ffffff5d;
  border-radius: 15px;
  animation: projects-anima 0.7s ease-in-out forwards;
  transition: all 0.5s;
  cursor: default;
  /* padding: 20px; */
  overflow: hidden;
  position: relative;
  bottom: 0;

}
.projects:hover {
  box-shadow: 0 0 16px #ef4444;
  bottom: 10px;
}

.project-names {
  font-size: 25px;
  color: white;
}
.project-details-div {
  padding: 5px;
  margin-top: 15px;
  display: flex;
  font-family: "Walter Turncoat", cursive;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.projects-picture {
  /* border-radius: 0 40px 0 40px; */
  transition: all 0.5s;
  /* cursor: none; */
  width: 100%;
  height: 200px;
  /* aspect-ratio: 3/2;
    object-fit: contain; */
}
.projects-picture:hover {
  transform: scale(1.05) rotate(-1deg);
}
.project-Btn {
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  font-family: "Walter Turncoat", cursive;
  border-radius: 8px;
  border: 1px solid white;
  transition: all 0.5s;
  animation: btn-anima 0.8 s ease-in forwards;
}
.project-Btn:hover {
  background-color: transparent;
  border: 1px solid #ef4444;
}
.link-txt {
  transition: all 0.5s;
}
.project-Btn:hover .link-txt {
  transform: scale(1.4);
  color: #ef4444;
}
@keyframes projects-anima {
  0% {
    transform: translateY(200px);
  }
  70% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@media (max-width: 850px) {
  .projects-container {
    grid-template-columns: 1fr 1fr;
    padding-right: 10px;
  }
}
@media (max-width: 650px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}
